{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h1 class="text-center mt-2 mb-5 fs-1">Menu administrateur</h1>
                        <div class="d-flex justify-content-center gap-5">
                            {# card #}
                            <a class="text-decoration-none" href="{{ path('app_user_index_personnel') }}">
                                <div class="card col-sm-12 mb-4">
                                    <img src="{{ asset('/imgs/personnel.png') }}" class="card-img-top img-responsive" alt="Image du personnel">
                                    <div class="card-body">
                                        <h5 class="card-title fs-5">Liste des employés</h5>
                                    </div>
                                </div>
                            </a>
                            {# end card #}
                            {# card #}
                            <a class="text-decoration-none" href="{{ path('app_user_index_eleve') }}">
                                <div class="card col-sm-12 mb-4">
                                    <img src="{{ asset('/imgs/eleve.png') }}" class="card-img-top img-responsive" alt="Image des élèves">
                                    <div class="card-body">
                                        <h5 class="card-title fs-5">Liste des élèves</h5>
                                    </div>
                                </div>
                            </a>
                            {# end card #}
                            {# card #}
                            <a class="text-decoration-none" href="{{ path('app_user_new') }}">
                                <div class="card col-sm-12 mb-4">
                                    <img src="{{ asset('/imgs/ajouter.png') }}" class="card-img-top img-responsive" alt="Ajouter un employé">
                                    <div class="card-body">
                                        <h5 class="card-title fs-5">Ajouter un employé</h5>
                                    </div>
                                </div>
                            </a>
                            {# end card #}
                        </div>
                            <div class="text-center mt-5">
                                <a href="{{ path('app_home') }}">
                                    <button class="btn btn-dark">Retour</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
