{% block header %}
    <div id="top">
        {% if app.user %}
            <a href=""> {{app.user.nom}} {{app.user.prenom}} </a>
        {% endif %}
    </div>
    <aside id="left">
        <img id="header_logo" src="{{ asset('images/logo.png')}}" alt="logo">
        <a href="{{ path('home')}}">Accueil</a>
        {% if app.user %}
            <a href="">Inscription</a>
            <a href="{{ path('app_logout') }}"> Déconnexion </a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </aside>
{% endblock %}
