{% extends 'base.html.twig' %}

                {% block title %}
                    Menu index
                {% endblock %}

                {% block body %}
                    <div
                        class="back">
                        {% for menu in menus %}
                            <div
                                class="menu m-5">
                                <div
                                    class="menu_name">
                                    <h2>
                                        Menu n°
                                        {{ menu.id }}
                                    </h2>
                                </div>
                                <div
                                    class="menu_date m-sm-3">
                                    <h4>
                                        Service
                                    </h4>
                                    <h5>
                                        {{ menu.date ? menu.date|date('d-m-Y') : '' }}
                                    </h5>
                                    <h5>
                                        {{ menu.service }}
                                    </h5>
                                </div>
                                <a
                                    class="show_btn"
                                    href="{{ path('app_menu_show', {'id': menu.id}) }}">
                                    <button
                                        class="btn btn-dark">
                                        Montrer le détail du menu
                                    </button>
                                </a>
                                <a
                                    class="modif_btn"
                                    href="{{ path('app_menu_edit', {'id': menu.id}) }}">
                                    <button
                                        class="btn btn-primary">
                                        Modifier le menu
                                    </button>
                                </a>
                            </div>
                            {% else %}
                        {% endfor %}

                        <a
                            href="{{ path('app_menu_new') }}" class="link_btn m-5">
                            <button
                                class="add">
                                <span
                                    class="add_span">
                                    +
                                </span>
                                <div
                                    class="add_div"></div>
                            </button>
                        </a>
                    </div>
                {% endblock %}
