{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 mb-5">Membres du personnel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Rôle</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date d'inscription</th>
                <th>Statut</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.roles|json_encode == '["ROLE_PERSONNEL","ROLE_USER"]' or user.roles|json_encode == '["ROLE_ADMIN","ROLE_USER"]' %}
            <tr>
                <td>{{ user.email }}</td>
                {% if user.roles|json_encode == '["ROLE_PERSONNEL","ROLE_USER"]' %}
                <td>Membre du personnel</td>
                {% elseif user.roles|json_encode == '["ROLE_ADMIN","ROLE_USER"]' %}
                <td>Administrateur</td>
                {% endif %}
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i') : '' }}</td>
                {% if user.statut == 1 %}
                <td>Actif</td>
                {% else %}
                <td>Inactif</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                        <button class="btn btn-warning">Modifier le statut</button>
                    </a>
                </td>
            </tr>
        {% endif %}
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('app_user_new') }}">
            <button class="btn btn-primary">Ajouter un membre du personnel</button>
        </a>
        
        <a href="{{ path('app_admin') }}">
            <button class="btn btn-dark">Retour</button>
        </a>
    </div>
{% endblock %}
